@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

html, body{
    width: 100%;
    overflow-x: hidden;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #4C454C;
    align-items: center;
    color: #fff;
    font-family: 'Genos', sans-serif; 
}

main section.formulaire{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 50px 0px rgba(0,0,0,0.16), 0px 3px 6px 0px rgba(0,0,0,0.23);
    background: radial-gradient(
		circle,
		#FF99CC 0%,
		#4C454C 100%
	);
    padding: 5rem;
    margin: 4rem;
    border-radius: 20px;
    transition: 0.3s;
}
main section.formulaire:hover{
    transform: scale(1.005);
    box-shadow: 0px 3px 50px 0px #FF99CC, 0px 3px 6px 0px #FF99CC;
    transition: 0.3s;
}

main section.formulaire h2{
    font-size: 3rem;
}

main section.formulaire form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}
main section.formulaire form .top{
    display: flex;
    gap: 3rem;
    margin: 1rem;
}
main section.formulaire form .top .nom {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
main section.formulaire form .top .prenom {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
main section.formulaire form .top .nom input{
    border: 1px #4C454C solid;
    border-radius: 10px;
    width: 20rem;
    height: 1.5rem;
    padding: 1rem;
}
main section.formulaire form .top .prenom input{
    border: 1px #4C454C solid;
    border-radius: 10px;
    width: 20rem;
    height: 1.5rem;
    padding: 1rem;
}

main section.formulaire form .msg textarea{
    border: 1px #4C454C solid;
    border-radius: 10px;
    width: 45rem;
    height: 8rem;
    padding: 1rem;
}

main section.formulaire form input.sub{
    background-color: #4C454C;
    color: #FF99CC;
    margin-top: 4rem;
    padding: 1rem 3rem;
    border: 1px #4C454C solid;
    border-radius: 20px;
    box-shadow: 0px 3px 50px 0px rgba(0,0,0,0.16), 0px 3px 6px 0px rgba(0,0,0,0.23);
    transition: 0.2s;
}

main section.formulaire form input.sub:hover{
    box-shadow: 0px 3px 50px 0px #FF99CC, 0px 3px 6px 0px #FF99CC;
    transform: scale(1.2);
    transition: 0.2s;
}




main section.lieu {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 50px 0px rgba(0,0,0,0.16), 0px 3px 6px 0px rgba(0,0,0,0.23);
    padding: 2rem;
    margin: 3rem;
    border-radius: 20px;
    transition: 0.3s;
}
main section.lieu:hover{
    transform: scale(1.005);
    color: #FF99CC;
    box-shadow: 0px 3px 50px 0px #FF99CC, 0px 3px 6px 0px #FF99CC;
    transition: 0.3s;
}

main section.lieu .google-map iframe {
    height: 25rem;
    width: 50rem;
    border-radius: 20px;
}

main section.lieu h2{
    padding: 2rem;
}


@media screen and (max-width: 1500px){
    main section.formulaire{
        width: 80% ;
    }
}

@media screen and (max-width: 1000px){
    main .lieu{
        width: 85%;
    }
    main section.lieu .google-map iframe {
        height: 25rem;
        width: 100%;
    }
    main section.formulaire{
        width: 65%;
    }
    main .formulaire form .top{
        flex-direction: column;
    }
    main .formulaire .msg textarea#msg{
        width: 20rem;
        margin-top: 2rem;
    }
}